/*Stephen Shaw
  sshaw7@my.smccd.edu
  CIS 128
  homework 1
  main.css
  January 22, 2019
*/

body {
	  background: url("sunrise.jpg") no-repeat fixed; /*image repeat attachment*/
	  background-size: cover;
      font-family: cursive;
	  font-size: 17px;
}
 
h1{
	  text-align: center;
	  font-size: 28px;
	  background-color: rgba(255, 204, 255, .3);
	  padding: 10px;
	  margin: 10px 20px 20px;
	  border: slateBlue ridge 2px;
	  border-radius: 20px;
}

h2   {
	  text-align: center;
      /*padding: 10px;*/
      font-size: 22px;
}

img  {
	  float: left;
      padding: 5px;
	  margin: 5px;
	  border: slateblue ridge 0px;
	  border-radius: 100px;
}



p    {
	  padding: 10px;
}

li   {
	  margin-left: 50px;
}

#second {
	     clear: left;
}

#button1 {
	   padding: 10px;
	   background-color: slateblue;
	   font-family: cursive;
	   font-size: 18px;
	   color: white;
	   margin-left: 20px;
	   margin-top: 0px;
	   border: blue ridge 2px;
	   border-radius: 15px;
}

#part1, #part2{
	  background-color: rgba(255, 204, 255, .4);
	  /*padding: 5px;*/
	  margin: 20px;
	  border: slateBlue ridge 2px;
	  border-radius: 30px;
}

	    


	      
